<ion-header mode="md" class="ion-no-border">
   <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>เปลี่ยนรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chang-password-wrapper ion-padding">
    <form [formGroup]="resetPasswordForm" novalidate>
      <h5>รหัสผ่านใหม่</h5>
      <app-input
        [type]="'password'"
        [controlName]="resetPasswordForm.controls.newPassword"
        [placeholder]="'รหัสผ่าน'"
        [name]="'newPassword'"
        [required]="true"
        [minlength]="'8'"
      ></app-input>
      <app-input
        [type]="'password'"
        [controlName]="resetPasswordForm.controls.confirmPassword"
        [placeholder]="'ยืนยันรหัสผ่าน'"
        [name]="'confirmPassword'"
        [required]="true"
        [minlength]="'8'"
      ></app-input>
    </form>
    <br />
    <ng-container>
      <ion-button
        expand="block"
        [disabled]="resetPasswordForm.status === 'INVALID' ? true : false"
        >เปลี่ยนรหัสผ่าน</ion-button
      >
    </ng-container>
  </div>
</ion-content>
