<ion-header mode="md" class="ion-no-border">
    <ion-toolbar>
        <ion-title>ข่าวสาร</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <app-skeleton-list></app-skeleton-list> -->
    <!-- <app-empty></app-empty> -->
    <ion-list>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,6]" (click)="newsDetail(item)">
            <ion-thumbnail slot="start">
                <img
                    src="https://docs-demo.ionic.io/assets/madison.jpg"
                />
            </ion-thumbnail>
            <ion-label class="ion-text-nowrap">
                <h3>ปศุสัตว์ทำได้..วัคซีนลัมปี สกิน</h3>
                <p>
                    จากปัญหาเกิดการระบาดของโรคลัมปี สกิน ในโค-กระบือ โรคอุบัติใหม่เมื่อ มี.ค.2564
                    และได้มีการนำเข้าวัคซีนจากต่างประเทศเพื่อหยุดการระบาดของโรค
                    พร้อมกับมีการมอบหมายให้สำนักเทคโนโลยีชีวภัณฑ์สัตว์และสถาบันสุขภาพสัตว์แห่งชาติ
                    หน่วยงานภายในกรมปศุสัตว์ร่วมกันวิจัยและพัฒนาวัคซีนมาตั้งแต่ พ.ค.2564
                </p>
                <small>25/03/2563 00:00:00</small>
            </ion-label>
            <ion-icon slot="end" class="arrow-list" name="chevron-forward-outline"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
