<ion-header mode="md" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ลืมรหัสผ่าน</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <p>กรุณากรอกอีเมลของท่าน ระบบจะทำการส่งรหัสไปในทางอีเมลของท่าน</p>
        <form [formGroup]="forgotPassword" novalidate>
            <app-input
                [type]="'email'"
                [controlName]="forgotPassword.controls.email"
                [placeholder]="'อีเมล'"
                [name]="'email'"
                [required]="true"
            ></app-input>
        </form>
        <br />
        <ng-container>
            <ion-button
                expand="block"
                [disabled]="forgotPassword.status === 'INVALID' ? true : false"
                >ลืมรหัสผ่าน</ion-button
            >
        </ng-container>
    </div>
</ion-content>
