<ion-tabs (ionTabsWillChange)="selectTabs($event)">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>หน้าหลัก</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="feed">
            <ion-icon name="shapes-outline"></ion-icon>
            <ion-label>เหตุเกิด</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="news">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>ข่าวสาร</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notification">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>แจ้งเตือน</ion-label>
            <ion-badge color="danger">1</ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="settings">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>ตั้งค่า</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
