<!-- <ion-header mode="md" class="ion-no-border">
    <ion-toolbar class="ion-text-start item-transparent">
        <img class="logo-toolbar" src="../../../assets/icon/logo.png" alt="logo" />
        หน้าหลัก
    </ion-toolbar>
</ion-header> -->
<ion-header mode="md" class="ion-no-border">
    <ion-toolbar class="item-transparent">
        <ion-title>หน้าหลัก</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="dashboard-wrapper">
    <div class="bg-cover"></div>
    <div>
        <ion-slides [pager]="true" [options]="bannerSlideOption">
            <ion-slide [routerLink]="['']">
                <ion-card class="card-banner">
                    <img
                        alt="Silhouette of mountains"
                        src="https://ionicframework.com/docs/img/demos/card-media.png"
                    />
                    <ion-card-header class="ion-text-start">
                        <ion-card-title>รถโดนชนทำไงดี</ion-card-title>
                    </ion-card-header>

                    <ion-card-content class="ion-text-start">
                        Here's a small text description for the card content. Nothing more, nothing
                        less.
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="menu-wrapper">
        <h5 class="ion-padding-start">เมนู</h5>
        <ion-slides [pager]="false" [options]="menuSlideOption">
            <ion-slide [routerLink]="['../../farm']">
                <div class="ion-text-center">
                    <div class="position-top-end">
                        <ion-badge class="badge-count" mode="ios" color="danger">12</ion-badge>
                    </div>
                    <div class="image-menu-wrapper">
                        <img src="../../../assets/images/car.png" class="icon-menu" />
                    </div>
                    <small class="ion-no-margin">รถของฉัน</small>
                </div>
            </ion-slide>

            <ion-slide [routerLink]="['../../market']">
                <div class="ion-text-center">
                    <div class="image-menu-wrapper">
                        <img src="../../../assets/images/car-accident.png" class="icon-menu" />
                    </div>
                    <small class="ion-no-margin">เหตุเกิด</small>
                </div>
            </ion-slide>
            <ion-slide [routerLink]="['../../measure']">
                <div class="ion-text-center">
                    <div class="image-menu-wrapper">
                        <img src="../../../assets/images/insurance.png" class="icon-menu" />
                    </div>
                    <small class="ion-no-margin">ประกันภัย</small>
                </div>
            </ion-slide>
            <ion-slide [routerLink]="['../../report']">
                <div class="ion-text-center">
                    <div class="image-menu-wrapper">
                        <img src="../../../assets/images/report.png" class="icon-menu" />
                    </div>
                    <small class="ion-no-margin">สถิติ</small>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
